/bin/
/.idea/
/out/
/IT-Projekt_dominion/IT-Projekt_dominion/src/Dominion/Client/ClientClasses/test.java
.user.dat
.bashrc.swp
.IT-Projekt_dominion.iml
.classpath
.project
user.dat
.user.db
/IT-Projekt_dominion/bin/