
/*author: kab */

.card {	
		-fx-background-size: cover;
		-fx-background-color: transparent;
}

.highlight {
	-fx-effect: dropshadow( gaussian , yellow , 7 , 0.7 , 0 , 0 );	
}



.copper			{-fx-background-image: url('cards/img/copper.jpg');}	
.silver			{-fx-background-image: url('cards/img/silver.jpg');}
.gold			{-fx-background-image: url('cards/img/gold.jpg');}   
.adventure		{-fx-background-image: url('cards/img/adventure.jpg');}
.basement		{-fx-background-image: url('cards/img/basement.jpg');}
.bureaucrat		{-fx-background-image: url('cards/img/bureaucrat.jpg');	}
.cardback		{-fx-background-image: url('cards/img/cardback.jpg');}
.chancellor		{-fx-background-image: url('cards/img/chancellor.jpg');}
.chapel			{-fx-background-image: url('cards/img/chapel.jpg');}
.councilmeeting	{-fx-background-image: url('cards/img/councilmeeting.jpg');}
.curse			{-fx-background-image: url('cards/img/curse.jpg');}
.duchy			{-fx-background-image: url('cards/img/duchy.jpg');}
.estate			{-fx-background-image: url('cards/img/estate.jpg');}
.feast			{-fx-background-image: url('cards/img/feast.jpg');}
.forge			{-fx-background-image: url('cards/img/forge.jpg');}
.funfair		{-fx-background-image: url('cards/img/funfair.jpg');}
.gardens		{-fx-background-image: url('cards/img/gardens.jpg');}
.gold			{-fx-background-image: url('cards/img/gold.jpg');}
.laboratory		{-fx-background-image: url('cards/img/laboratory.jpg');}
.library		{-fx-background-image: url('cards/img/library.jpg');}
.lumberjack		{-fx-background-image: url('cards/img/lumberjack.jpg');}
.market			{-fx-background-image: url('cards/img/market.jpg');}
.militia		{-fx-background-image: url('cards/img/militia.jpg');}
.mine			{-fx-background-image: url('cards/img/mine.jpg');}
.moat			{-fx-background-image: url('cards/img/moat.jpg');}
.moneylender	{-fx-background-image: url('cards/img/moneylender.jpg');}
.province		{-fx-background-image: url('cards/img/province.jpg');}
.rebuilding		{-fx-background-image: url('cards/img/rebuilding.jpg');}
.spy			{-fx-background-image: url('cards/img/spy.jpg');}
.thief			{-fx-background-image: url('cards/img/thief.jpg');}
.throneroom		{-fx-background-image: url('cards/img/throneroom.jpg');}
.village		{-fx-background-image: url('cards/img/village.jpg');}
.waste			{-fx-background-image: url('cards/img/waste.jpg');}
.witch			{-fx-background-image: url('cards/img/witch.jpg');}
.workshop		{-fx-background-image: url('cards/img/workshop.jpg');}
		   