
/*author: kab */

.bg {
	
	
}

.bg_gameInfo {
	-fx-background-image: url('../img/backgrounds/bg_gameInfo.png');
	-fx-background-repeat: no-repeat;
	/*-fx-background-size: auto, auto;*/
	-fx-background-color: transparent;
}




.btn {
	-fx-background-repeat: stretch;
	-fx-background-color: transparent;
}

.lbl {  /* f�r Text Button Chat */
	-fx-font-family: "Times New Roman";
	-fx-font-size: 14px;
	-fx-text-fill: white;
	-fx-effect: dropshadow( one-pass-box, black , 10, 0.2 , 3 , 3 /*blur, dicke, offsetx, offxety */)
	}
	
.lbl_btnUserInteraction { /* f�r btn_userInteraction*/
	-fx-font-family: "Times New Roman";
	-fx-font-size: 28px;
	-fx-text-fill        : #cdcac4;
	-fx-effect: dropshadow( one-pass-box, black , 10, 0.2 , 3 , 3 /*blur, dicke, offsetx, offxety */)
	}


.btn_sendChatMsg {
	  -fx-background-image: url('../img/btns/btn_chat_blue_mini.png');  
}

.btn_sendChatMsg_hover {
	  -fx-background-image: url('../img/btns/btn_chat_blue_mini_hover.png');  
}


.btn_userInteraction {
	  -fx-background-image: url('../img/btns/btn_playStage.png');
}

.btn_playStage_hover {
	 /* -fx-background-image: url('../img/btns/btn_view_hover.png'); */
}
/*-------------------------------------- */




/*close Button */
.btn_close_normal{
	-fx-background-image: url('../img/btns/btn_close_hover.png');	
}
.btn_close_hover {
	-fx-background-image: url('../img/btns/btn_close_normal.png'); }
/*-------------------------------------------------------- */	
	
	
	
	
/*game information */
.h1 {
	-fx-font-family: "Kokila";
	-fx-font-size: 28px;
	-fx-font-weight: bold;
	-fx-text-fill: #996633;
	-fx-effect: dropshadow( one-pass-box, black , 10, 0.2 , 3 , 3 /*blur, dicke, offsetx, offxety */
	)
	}
	
.h2 {
	-fx-font-family: "Kokila";
	-fx-font-size: 26px;
	-fx-font-weight: bold;
	-fx-text-fill: #666666;
	-fx-effect: dropshadow( one-pass-box, black , 10, 0.2 , 3 , 3 /*blur, dicke, offsetx, offxety */
	)
}
/*------------------------------------------------------------------------------------------------- */	
	
	
	
	
	
	
.card {	
		-fx-background-size: cover;
		-fx-background-color: transparent;
}

.highlight {
	-fx-effect: dropshadow( gaussian , yellow , 7 , 0.7 , 0 , 0 );	
}

.cardback2 {
		-fx-background-image: url('../img/cards/cardback2.jpg');
}


.copper			{-fx-background-image: url('../img/cards/small/copper.png');}	
.silver			{-fx-background-image: url('../img/cards/small/silver.png');}
.gold			{-fx-background-image: url('../img/cards/small/gold.png');}   
.adventure		{-fx-background-image: url('../img/cards/adventure.jpg');}
.basement		{-fx-background-image: url('../img/cards/basement.jpg');}
.bureaucrat		{-fx-background-image: url('../img/cards/bureaucrat.jpg');	}
.cardback		{-fx-background-image: url('../img/cards/cardback.jpg');}
.chancellor		{-fx-background-image: url('../img/cards/chancellor.jpg');}
.chapel			{-fx-background-image: url('../img/cards/chapel.jpg');}
.councilmeeting	{-fx-background-image: url('../img/cards/councilmeeting.jpg');}
.curse			{-fx-background-image: url('../img/cards/curse.jpg');}
.duchy			{-fx-background-image: url('../img/cards/small/duchy.png');}
.estate			{-fx-background-image: url('../img/cards/small/estate.png');}
.feast			{-fx-background-image: url('../img/cards/feast.jpg');}
.forge			{-fx-background-image: url('../img/cards/small/smithy.png');}
.funfair		{-fx-background-image: url('../img/cards/small/funfair.png');}
.gardens		{-fx-background-image: url('../img/cards/gardens.jpg');}
.laboratory		{-fx-background-image: url('../img/cards/small/laboratory.png');}
.library		{-fx-background-image: url('../img/cards/library.jpg');}
.lumberjack		{-fx-background-image: url('../img/cards/small/lumberjack.png');}
.market			{-fx-background-image: url('../img/cards/small/market.png');}
.militia		{-fx-background-image: url('../img/cards/militia.jpg');}
.mine			{-fx-background-image: url('../img/cards/mine.jpg');}
.moat			{-fx-background-image: url('../img/cards/moat.jpg');}
.moneylender	{-fx-background-image: url('../img/cards/small/moneylender.png');}
.province		{-fx-background-image: url('../img/cards/small/province.png');}
.rebuilding		{-fx-background-image: url('../img/cards/rebuilding.jpg');}
.spy			{-fx-background-image: url('../img/cards/spy.jpg');}
.thief			{-fx-background-image: url('../img/cards/img/thief.jpg');}
.throneroom		{-fx-background-image: url('../img/cards/throneroom.jpg');}
.village		{-fx-background-image: url('../img/cards/small/village.png');}
.waste			{-fx-background-image: url('../img/cards/waste.jpg');}
.witch			{-fx-background-image: url('../img/cards/witch.jpg');}
.workshop		{-fx-background-image: url('../img/cards/workshop.jpg');}

.copper			{-fx-background-image: url('../img/cards/big/copper.png');}	
.silver			{-fx-background-image: url('../img/cards/big/silver.png');}
.gold			{-fx-background-image: url('../img/cards/big/gold.png');}   
.adventure		{-fx-background-image: url('../img/cards/adventure.jpg');}
.basement		{-fx-background-image: url('../img/cards/basement.jpg');}
.bureaucrat		{-fx-background-image: url('../img/cards/bureaucrat.jpg');	}
.cardback		{-fx-background-image: url('../img/cards/cardback.jpg');}
.chancellor		{-fx-background-image: url('../img/cards/chancellor.jpg');}
.chapel			{-fx-background-image: url('../img/cards/chapel.jpg');}
.councilmeeting	{-fx-background-image: url('../img/cards/councilmeeting.jpg');}
.curse			{-fx-background-image: url('../img/cards/curse.jpg');}
.duchy			{-fx-background-image: url('../img/cards/big/duchy.png');}
.estate			{-fx-background-image: url('../img/cards/big/estate.png');}
.feast			{-fx-background-image: url('../img/cards/feast.jpg');}
.forge			{-fx-background-image: url('../img/cards/big/smithy.png');}
.funfair		{-fx-background-image: url('../img/cards/big/funfair.png');}
.gardens		{-fx-background-image: url('../img/cards/gardens.jpg');}
.laboratory		{-fx-background-image: url('../img/cards/big/laboratory.png');}
.library		{-fx-background-image: url('../img/cards/library.jpg');}
.lumberjack		{-fx-background-image: url('../img/cards/big/lumberjack.png');}
.market			{-fx-background-image: url('../img/cards/big/market.png');}
.militia		{-fx-background-image: url('../img/cards/militia.jpg');}
.mine			{-fx-background-image: url('../img/cards/mine.jpg');}
.moat			{-fx-background-image: url('../img/cards/moat.jpg');}
.moneylender	{-fx-background-image: url('../img/cards/big/moneylender.png');}
.province		{-fx-background-image: url('../img/cards/big/province.png');}
.rebuilding		{-fx-background-image: url('../img/cards/rebuilding.jpg');}
.spy			{-fx-background-image: url('../img/cards/spy.jpg');}
.thief			{-fx-background-image: url('../img/cards/thief.jpg');}
.throneroom		{-fx-background-image: url('../img/cards/throneroom.jpg');}
.village		{-fx-background-image: url('../img/cards/big/village.png');}
.waste			{-fx-background-image: url('../img/cards/waste.jpg');}
.witch			{-fx-background-image: url('../img/cards/witch.jpg');}
.workshop		{-fx-background-image: url('../img/cards/workshop.jpg');}
		   